version: '3.3'

services:
  app:
    build:
      context: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      DEBUG: "${DEBUG:-False}"
      GCS_SERVICE_ACCOUNT_KEY: "${GCS_SERVICE_ACCOUNT_KEY}"
      GCS_BUCKET_NAME: "${GCS_BUCKET_NAME}"
      GCP_PROJECT_ID: "${GCP_PROJECT_ID}"
      DB_NAME: "${DB_NAME}"
      DB_USER: "${DB_USER}"
      DB_PASSWORD: "${DB_PASSWORD}"
      DB_HOST: "${DB_HOST}"
      DB_PORT: "${DB_PORT}"
      REDIS_HOST: "redis"
      REDIS_PORT: "6379"
      IS_DOCKER_ENV: "true"
    volumes:
      - ./goldpridictweb-7c91aab7d8df.json:/app/${GCS_SERVICE_ACCOUNT_KEY}
    depends_on:
      - redis
    command: bash -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"

  redis:
    image: "redis:latest"
    container_name: "redis"
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
